<div class="contanier">
  <div class="col-md-12">
    <input name="list_youtube" style="width: 800px;" />
    <br>
    <button id="action" style="padding: 10px; margin: auto">Get list</button>
    <button id="getlink" style="padding: 10px; margin: auto">Get link</button>
    /*<button id="upload" style="padding: 10px; margin: auto">upload</button>*/
  </div>
</div>
<div id='log'>
  
</div>
<div class="contanier">
  <div class="col-md-12 row">
    <div class="col-md-6">
      <div id="list_youtubes" hidden=""></div>
    </div>
   <div class="col-md-6">
      <div id="youtube_details" hidden=""></div>
    </div>
  </div>
</div>
