<div class="contanier">
  <div class="col-md-8 ">
    <ul class="list">
      <li><a href="<%= list_youtubes_path %>">List Youtube</a></li>
      <li><a href="<%= video_channels_path %>">Video Channel</a></li>
      <li><a href="<%= video_onlys_path %>">Video only</a></li>
    </ul>
  </div>
</div>
