<div class="col-md-4">
  <div id="list_url">
    
  </div>
  <button id="btn_add">ADD</button>
</div>
<div class="col-md-6">
<button id="video_action">Action</button>
<button id="video_getlink">Get Link</button>
<div id='log'></div>
</div>
<div id="youtube_details" hidden></div>