<div class="col-md-8">
  <button id='action2'>Action2</button>
  <button id="getlink" style="padding: 10px; margin: auto">Get link</button>
  <br>
  <br>

  <textarea id="text_area" cols=80 rows=10>
    
  </textarea>
  <div id='log'>
  
</div>
</div>
<div id="list_youtubes" hidden="">
</div>
<div id="youtube_details" hidden=""></div>